<tr>
  <td align="center" valign="top" class="fix-box" style="background-color:#ecebeb;">
    <!-- start  container width 600px -->
    <table width="800" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: #ffffff; padding-left:20px; padding-right:20px; min-width:600px;">
      <tbody>
        <tr>
          <td valign="top">
            <!-- start container width 560px -->
            <table width="760" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
              <!-- start text content -->
              <tbody>
                <tr>
                  <td valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                      <!-- start text content -->
                      <tbody>
                        <tr>
                          <td valign="top">
                            <table border="0" cellspacing="0" cellpadding="0" align="center">
                              <!--start space height -->
                              <tbody>
                                <tr>
                                  <td height="15" style="line-height: 1px; font-size: 1px; display: block;"></td>
                                </tr>
                                <!--end space height -->
                                <tr>
                                  <td style="font-size: 13px; line-height: 22px; font-family: Roboto, Arial, Helvetica, Arial; color: rgb(163, 162, 162); font-weight: 300; text-align: center;">
                                    <span style="font-size: 13px; font-weight: 300; line-height: 24px;">
                                      {{ resOrder}} &nbsp;
                                      <span style="font-size: 13px; font-weight: 300; line-height: 24px;">{{ orderId }}</span><br style="line-height: 24px;"/>
                                    </span>
                                  </td>
                                </tr>
                                <!--start space height -->
                                <tr>
                                  <td height="15" style="line-height: 1px; font-size: 1px; display: block;"></td>
                                </tr>
                                <!--end space height -->
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <!-- end text content -->
                        <tr>
                          <td valign="top" width="100%" align="center">
                            <!-- start button -->
                            <table width="auto" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                              <tbody>
                                <tr>
                                  <td valign="top">
                                    <table width="auto" border="0" align="left" cellpadding="0" cellspacing="0" dup="0">
                                      <tbody>
                                        <tr>
                                          <!-- start space width -->
                                          <td valign="top" width="10">
                                            <table width="10" border="0" align="center" cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td valign="top"></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <!--end space width -->
                                          <td width="auto" align="left" valign="middle" height="32" style="border-radius: 5px; border: 1px solid rgb(236, 236, 237); font-size: 13px; font-family: Roboto, Arial, Helvetica, sans-serif; text-align: center; color: rgb(208, 93, 104); font-weight: 300; padding-left: 18px; padding-right: 18px; background-color: rgb(255, 255, 255); background-clip: padding-box;">
                                            <a href="{{ webLink }}" style="text-decoration: none;">
                                              <span style="font-size: 13px; font-weight: 300; line-height: 24px;">
                                                <span style="font-size: 18px; font-weight: 500; line-height: 24px; color: rgb(208, 93, 104);">
                                                  {{ resView_Order }}
                                                </span>
                                                <br style="line-height: 24px;" />
                                              </span>
                                            </a>
                                          </td>
                                          <!-- start space width -->
                                          <td valign="top" width="10">
                                            <table width="10" border="0" align="center" cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td valign="top"></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <!--end space width -->
                                        </tr>
                                        <!--start space height -->
                                        <tr>
                                          <td height="10" style="line-height: 1px; font-size: 1px; display: block;"></td>
                                        </tr>
                                        <!--end space height -->
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- end button -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!--end space height -->
              </tbody>
            </table>
            <!-- end  container width 560px -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- end  container width 600px -->
  </td>
</tr>


